@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*  Hemisdans grundstil */

html{
    font-size: 16px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, footer, section, div, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: "Open Sans", sans-serif;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}


}
/*  Navigering  */

#menucheckbox, #dropmenuicon {
    display: none;
}

nav{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

nav ul li {
    color:rgba(255, 255, 255, 1);
    font-size: 24px;
}

nav ul ul {
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    gap: 20px;
    padding: 10px;
    background-color: #333333;
    box-shadow: 7px 5px 10px #000000;
}

nav a {
    text-decoration: none;
    padding: 20px;
    transition: all .5s ease;
}

nav a:link, nav a:visited {
    color: rgb(214, 214, 214);
}

nav a:hover, nav a:active {
    color: rgb(49, 109, 238);
}

nav a.dennasidan {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* Home */

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    height: 840px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    background-image: url(../img/Homebackground.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    height: 1024px;
    width: 100%;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 33%;
}

#namn {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.main h2 {
    margin-top: 0;
    margin-bottom: 26px;
}

.main p {
    width: 395px;
    margin-top: 0;
}


.rubrik {
    font-size: 36px;
    font-weight: normal;
}

.button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    transition: 0.5s ease;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

/* About */

#about {
    height: 651px;
    display: flex;
    flex-direction: column;   
    background-color: #333333;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0px;
}

#me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

}

#erfarenhet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}

.info {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

/* Projects */

#projects {
    display: flex;
    flex-direction: column;   
    color: black;
    padding: 20px;  
    justify-content: center;
    align-items: center;
    height: 850px;
    background: rgba(243, 243, 243, 0.91);  
}

#column {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 20px;
    width: 889px;
    height: 304px;

    background: linear-gradient(to top, grey 50%, white 50%);
    background-size: 100% 200%;
    transition: all 0.8s;
}

.projectinfo {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#greenbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 304px;
    background-color: greenyellow;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px grey;
}




.box img {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 10px;
}


/* contact */

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #333333;
}

/* media queries */

@media screen and (max-width: 1100px) {
    #buttonswrappermeny {
        flex-direction: column;
        gap: 30px;
    }

}

@media screen and (max-width: 1000px) {
    body{
        grid-template-rows: 100px auto auto 175px;   
    }

    nav ul{
        font-size: 20px;
        gap: 5rem;
    }

    footer{
        gap: 100px;
    }    
}

@media screen and (max-width: 800px) {
    header {
        display: none;
    }
    body{
        grid-template-areas:
        "nav   nav   nav   nav"
        "main   main   main   main"
        "main   main   main   main"
        "footer footer footer footer";
    }

    nav ul{
        gap: 4rem;
    }

    footer{
        gap: 50px;
    }    

    .footerhead {
        font-size: 25px;
    }

    .footerdiv {
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {

    #buttonswrapper {
        flex-direction: column;
        gap: 30px;
    }

    .osswrapper {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

}


@media screen and (max-width: 600px) {
    #dropmenuicon {
        background-image: url(../img/hamburgericon.png.crdownload);
        height: 30px;
        width: 30px;
        display: inline-block;
        cursor: pointer;
        background-size: cover;
        margin: 10px;
    }

    #menucheckbox {
        display: none;
    }

    #menucheckbox ~ ul {
        display: none;
    }

    #menucheckbox:checked ~ ul {
        display: flex;
    }

    nav ul {
        font-size: large;

    }

    #buttonswrapper {
        display: none;
    }

    body{
        grid-template-rows: min-content minmax(500px, 750px) auto auto;   
    }

    nav {
        justify-content: start;
        align-items: flex-start;
    }

    nav ul{
        padding: 20px;
        gap: 2rem;   
        flex-direction: column;     
    }

    footer {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
    

    h1 {
        font-size: 45px;
    }

}