@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700, 600, 400, 300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700, 600, 400, 300');



/*  Hemisdans grundstil */

html{
    font-size: 18px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, footer, section, div, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: "Open Sans", sans-serif;
    color: rgba(238, 238, 238, 1);
    font-weight: 400;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Allt på startsidan

 Navigering  */
#menucheckbox, #dropmenuicon {
    display: none;
}

nav{
    background-color: rgba(53, 56, 62, 1);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 100;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

nav ul li {
    color:rgba(250, 250, 250, 1);
    font-size: 24px;
}

nav ul ul {
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    gap: 20px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    transition: all .5s ease;
}

nav a:link, nav a:visited {
    color: rgb(214, 214, 214);
}

nav a:hover, nav a:active {
    color:rgba(75, 136, 185, 1);
    text-decoration: underline;    
    }

nav a.dennasidan {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/*rubriker*/

.huvudrubrik {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: rgba(250, 250, 250, 1);
    text-transform: uppercase 
}

.rubrik {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: rgba(250, 250, 250, 1);
    text-transform: uppercase 
}

.underrubirk {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(250, 250, 250, 1);
}

/* Home */

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 56, 62, 1);
    height: 850px;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 33%;
}

#namn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 3px;
    color:rgba(137, 137, 137, 1);
}

.main h2 {
    margin-top: 0;
    margin-bottom: 30px;
    width: 816px;
}

.main p {
    width: 531px;
    margin-top: 0;
}


.button {
    background-color: transparent;
    width: auto;
    height: 53px;
    color: rgba(250, 250, 250, 1);


    padding: 10px;

    border: 1px solid rgba(250, 250, 250, 1);
    transition: all 0.5s ease-in-out;
}

.button a {
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
    transition: all 0.5s ease-in-out;
    font-weight: 300;
    font-size: 24px;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(250, 250, 250, 1);
    color: black;
    box-shadow: 0 0 5px rgba(250, 250, 250, 1), 0 0 10px rgba(250, 250, 250, 1), 0 0 15px rgba(250, 250, 250, 1);
}

.button:hover > a{
    color: rgba(41, 46, 53, 1);
}

/*special button*/ 

.specialbutton {
    background-color: transparent;
    width: auto;
    height: 53px;
    color: rgba(250, 250, 250, 1);

    padding: 10px;
    transition: all 0.5s ease-in-out;
    border: 1px solid rgba(250, 250, 250, 1);
}

.specialbutton a {
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
    transition: all 0.5s ease-in-out;
    font-weight: 300;
    font-size: 24px;
}

.specialbutton:hover{
    color: rgba(250, 250, 250, 1);    
    cursor: pointer;
    box-shadow: 0 0 5px rgba(53, 56, 62, 1), 0 0 10px rgba(53, 56, 62, 1), 0 0 15px rgba(53, 56, 62, 1);
    background-color: rgba(53, 56, 62, 1);
}

.specialbutton:hover > a{
    color: rgba(250, 250, 250, 1) !important;
}


/* About */

#about {
    height: 651px;
    display: flex;
    flex-direction: column;   
    background-color: rgba(41, 46, 53, 1);
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

#me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#erfarenhet button {
    width: 220px;
}

#erfarenhet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
}


.infome {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
}

.infoerfarenhet {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}


/* Projects */

#projects {
    display: flex;
    flex-direction: column;   
    color: rgba(238, 238, 238, 1);
    padding: 20px;  
    justify-content: center;
    align-items: center;
    height: 850px;
    background: rgba(53, 56, 62, 1);  
}

#proheader {
    margin-bottom: 50px;
} 


#column {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 889px;
    height: 304px;
    background: linear-gradient(to top, rgba(238, 238, 238, 1) 50%, rgba(41, 46, 53, 1) 50%);
    background-size: 100% 201%;
    transition: all 0.8s;
}

.projectinfo {
    color: rgba(238, 238, 238, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    top: 0;
    transition: color 0.6s ease-in-out;
    margin-bottom: 25px;
}

.projectinfo p {
    text-align: center;
    padding-bottom: 5px;
}

.projectinfo h1 {
    margin-bottom: 0px;
    padding-bottom: 5px;
    transition: color 0.6s ease-in-out;
}


#greenbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 304px;
    background-color: rgba(75, 136, 185, 1);
}

.box:hover{
    background-position: left bottom;
    border: none;
    box-shadow: 0 0 20px rgb(122, 122, 122);
}

.box:hover > .projectinfo{
    transition-delay: 0.2s;
    color: rgba(53, 56, 62, 1); 
}

.box:hover > .projectinfo h1{
    transition-delay: 0.4s;
    color: rgba(41, 46, 53, 1); 
}

.box:hover > .projectinfo button a{
    color: rgba(41, 46, 53, 1);
}

.box:hover > .projectinfo button{
    border-color:  rgba(41, 46, 53, 1);
}

.box img {
    width: 100px;
    height: 100px;
}

/* contact */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 651px;
    background-color: rgba(41, 46, 53, 1);
}

#contact h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;

}

#contact p {
    width: 700px;
    margin-bottom: 50px;
    text-align: center;
}


/* Footer */

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;

    background-color: rgba(53, 56, 62, 1);
}

#contactlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#contactlinks a {
    color: white;
    font-size: 20px;
}

/* Safety Mapping */

/* main classes used*/

.bolded { font-weight: 700;
}


.safetymain {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 856px;
    margin: 0px;
    padding: 0px;
}

.safetymain h2 {
    margin-top: 0;
    margin-bottom: 30px;
    width: 856px;
    height: auto;
}

.safetymain h3 {
    margin-top: 0;
    margin-bottom: 30px;
    width: 856px;
    height: auto;
}

.safetymain p {
    width: 856px;
    margin: 0;
    padding-bottom: 15px;
}

.p1dark{
    color: #292E35;
}

.p2dark{
    color: #35383E;
}

.p1white{
    color: #FAFAFA;
}

.p2white{
    color: #EEEEEE;
}

/*intro section*/ 

#backbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#safetyhome {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 56, 62, 1);
    height: 701px;
    align-items: center;
    padding-top: 155px;
}

/*image section*/

#intropic img {
    display: block;
    width: 100%;
}

/* why section */

#whySection {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 56, 62, 1);
    height: 905px;
    justify-content: center;
    align-items:center;
}

#whyimportantdiv {
    margin-bottom: 110px;
}

#textAndPowerBI {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 95px;
}

#textAndPowerBI p {
    width: 564px;
    height: auto;
}

#textAndPowerBI img {
    width: 110px;
    height: 110px;
}

/* The Process Section*/

#processSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    background-color: #EEEEEE;
    height: 518px;
}

#processSection div p {
    width: 564px;
}

#processSection div h2 {
    width: 564px;
}

#garretsimage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 21px;
    width: 856px;
}

/* defining section */

#definingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 854px;
    background-color: #D6DBDF;
}

#definingSection ul {
    margin: 0px;
    width: 564px;
    height: 120px;
    line-height: 30px;

}

#definingSection p {
    margin-bottom: 55px;
}


/* user and problem section */

#problemandUserSection {
    display: flex;
    flex-direction: column;
    background-color: rgba(53, 56, 62, 1);
    height: 1691px;
    justify-content: center;
    align-items:center;
}

#problemandUserSection ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0px;
    
    width: 553px;
    height: 240px;

}

#bubbelFlexbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 182px;

    width: 847px;
    height: 120px;
    margin-bottom: 160px;
}

#userFlexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 43px;
    
    width: 856.38px;
    height: 240px;
}

#problemandUserSection h3 {
    margin-top: 55px;
}

/* specificationSection*/

#specificationSection {
    display: flex;
    flex-direction: column;
    background-color: #D6DBDF;
    height: 983px;
    justify-content: center;
    align-items:center;
}

#specificationSection ul {
    margin: 0px;
    line-height: 30px;
}


/*information architecture*/

#informationSection {
    display: flex;
    flex-direction: column;
    background-color: #35383E;
    height: 989px;
    justify-content: center;
    align-items:center;
}

#informationSection img {
    margin-top: 146px;
}

/* sketching */

#sketchingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;


    height: 1605px;
    background-color: #EEEEEE;

}

#sketchingSection img {
    margin-bottom: 169px;
}

/*final section*/

#finalSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;


    height: 480px;
    background-color: #D6DBDF;
}

/* My Thoughts section */

#thoughtsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;


    height: 641px;
    background-color: #EEEEEE;

}

#thoughtsSection p {
    margin-bottom: 85px;
}

#intropic img {
    display: block;
    width: 100%;
}


/* se more projects button*/

.moreProjectsButton {
    background-color: transparent;
    width: auto;
    height: 53px;
    color: #292E35;

    padding: 10px;

    border: 1px solid #292E35;
    transition: all 0.5s ease-in-out;
}

.moreProjectsButton a {
    text-decoration: none;
    color: #292E35;
    transition: all 0.5s ease-in-out;

    font-weight: 300;
    font-size: 24px;
}

.moreProjectsButton:hover{
    cursor: pointer;
    background-color: #292E35;
    box-shadow: 0 0 5px #292E35, 0 0 10px #292E35, 0 0 15px #292E35;
}

.moreProjectsButton:hover > a{
    color: rgba(250, 250, 250, 1);
}


/* media queries */


@media screen and (max-width: 1000px) {

    .box {
        flex-direction: column;
        justify-content: flex-end;
        width: 300px ;
        height: 650px;
        gap: 30px;
    }

    .projectinfo p {
        padding-bottom: 20px;
    }

    .box div{
        padding-bottom: 0px;
    }
    
    #greenbox {
        width: 300px;
        height: 300px;
    }


    .main {
        justify-content: center;
        align-items: flex-start;
    }

    /* försöka av automatisk repsonsive kod för all sidor*/

    h2, h1, h3, p, ul, li, div{
        width: auto !important;
    }

    .safetymain {
        width: auto;
        margin: 10px;
    }

    .safetymain div {
    flex-direction: column !important;
    gap: 10px !important;
    align-items: flex-start !important;
    }

}



@media screen and (max-width: 950px) {


    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .row h1, h2 {
        margin-bottom: 10px;
    }

    #me, #erfarenhet {
        width: 75%;
    }

    
}

@media screen and (max-width: 800px) {

    #contact p {
        width: auto;
        margin: 10px;
    }

}



@media screen and (max-width: 650px) {
    #logo {
        display: none;
    }

    .main {
        text-align: center;
        align-items:center;
        left: 0%;
    }
    
    .main p {
        width: auto;
        margin: 10px;
    }

    #dropmenuicon {
        background-image: url(../img/hamburgericon.png.crdownload);
        height: 30px;
        width: 30px;
        display: inline-block;
        cursor: pointer;
        background-size: cover;
        margin: 10px;
    }

    #menucheckbox {
        display: none;
    }

    #menucheckbox ~ ul {
        display: none;
    }

    #menucheckbox:checked ~ ul {
        display: flex;
    }

    nav ul {
        font-size: large;
    }

    nav {
        justify-content: start;
        align-items: flex-start;
    }

    nav ul{
        padding: 20px;
        gap: 2rem;   
        flex-direction: column;     
    }

    #about {
        height: 1000px;
    }

    /* försöka av automatisk repsonsive kod för all sidor*/

    .huvudrubrik {
        font-size: 34px;
    }

    .rubrik {
        font-size: 24px;
    }

    .underrubirk {
        font-size: 18px;
    }

    .p2dark, .p2white, p, li {
        font-size: 16px;
    }

    .safetymain div img {
        width: 150px;
        height: 150px;
        margin-left: 30px;
    }

    .safetymain ul li {
        line-height:normal

    }


}


@media screen and (max-width: 450px) {

    #about {
        height: 1200px;
    }

    #contactlinks {
        gap: 100px;
    }

    .info {
        margin-left: 30px;
        margin-right: 30px;
    }

    .safetymain div img {
        display: none;
    }

    #garretsimage {
        height: 300px;
    }

}